*{
    margin: 0;
    padding: 0;
}

.main_content{
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
}

.content{
    max-width: 1160px;
}

.header_box, .header, .logo, .h, .theHam, .ham{
    display: flex;
    align-items: center;
}

.header_box{
    height: 120px;
    justify-content: space-between; 
}

.header{
    width: 100%;
    justify-content: center;
    background-color: rgba(94, 93, 88, 0.6);
    position: absolute;
    z-index: 1;
    
}

.logo{
    width: 233px;
    margin-right: 270px;
    text-decoration: none;
}

.h{
    width: 58px;
    height: 67px;
    background-image: url(../img/Polygon\ 1\ 1.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    justify-content: center;
    color: #FFFFFF;
}

.theHam{
    width: 134px;
    padding-right: 35px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.ham{
    font-weight: 700;
    color: #18CFAB;

}

.nav_header{
    width: 657px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav_header_link{
    display: block;
    position: relative;
    text-decoration: none;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.nav_header_link::after{
    position: absolute;
    padding-bottom: 46px;
    width: 100%;
    content: "";
    display: block;
    border-bottom: 2px solid #18CFAB;
    opacity: 0;
}

.search::after{
    padding-bottom: 41px;
}
.home{
    width: 56px; 
}

.about{
    width: 65px;   
}

.blog{
    width: 51px;   
}

.skills{
    width: 60px;   
}

.service{
    width: 77px;   
}

.work{
    width: 60px;   
}

.testimonial{
    width: 121px;   
}

.search_icon{
    width: 22px;
    height: 22px;
    fill: rgba(255, 255, 255, 0.6);
}

.nav_header_link:hover::after {
    opacity: 1;
}

.home:hover,
.about:hover,
.blog:hover,
.skills:hover,
.service:hover,
.work:hover,
.testimonial:hover,
.search_icon:hover {
    color: #18CFAB;
} 


.search_icon:hover{
    fill: #18CFAB;
}

.title_page{
    width: 100%;
    height: 1012px;
    background-image: url(../img/Layer\ 1\ 5.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title_box{
    width: 769px;
    color: #FFFFFF; 
    text-align: center;
    display: grid;
    grid-template-rows: 35px 80px 34px;
    row-gap: 22px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.title_box_tagline, .title_box_subtitle-to{
    line-height: 1px;
    font-weight: 700;
    
}

.title_box_subtitle-top{
    width: 637px;
    font-size: 35px; 
}

.title_box_tagline{
    width: 798px;
    font-size: 78px;
}

.title_box_subtitle{
    width: 795px;
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4; 
}

.wordpress{
    color: #18CFAB;
}

.title_buttons{
    margin-top: 134px;
}

.title_buttons_purchase, .title_buttons_explore{
    height: 63px;
}

.title_buttons_explore{
    width: 169px;
    background: #18CFAB;
    padding: 16px 17px;  
}

.title_buttons_purchase, .information_button_purchase, .our_work_button{
    width: 168px;
    height: 63px;
    background: #00CBF6;
    padding: 16px 12px;
    text-transform: uppercase;
    
}

.title_buttons_explore, .title_buttons_purchase, .information_button_purchase, .our_work_button{
    margin-right: 13px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.title_buttons_explore::after, .title_buttons_purchase::after, 
.information_button_purchase::after{
    content: "";
    display: block;
    bottom: 48px;
    height: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: #FFFFFF;
    position: relative;
    
}

.title_buttons_purchase::after, .information_button_purchase::after{
    width: 168px;
    right: 12px; 
}

.title_buttons_explore::after{
    width: 169px;
    right: 17px;
}

.menu{
    margin-top: 8px;
}

.menu_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dark_blue, .light_blue{
    width: 482px;
    height: 377px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.dark_blue{
    background-color: #1C2A33;
    color: #18CFAB;
}

.light_blue{
    background-color: #18CFAB;
    color: #FFF
}

.our_services{
    height: 375px;
    margin-top: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_services_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our_services_title{
    width: 254px;
    height: 40px;
    font-size: 36px;
    color: #4E4E4E;  
}

.our_services_title>svg{
    margin: 24px 0 67px;
}

.our_services_nav{
    display: flex;
    flex-direction: column;
    height: 238px;
}

.our_services_title, .our_services_nav_title{
    text-align: center;
    font-weight: 400;
}

.our_services_nav_title{
    margin-top: 99px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active_tab{
    width: 195px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(248, 252, 254, 1);
    color: rgba(113, 113, 113, 1);
    font-size: 16px;
    box-sizing: border-box;
    padding: 17px 0 19px;
    border-right: 1px solid  rgba(240, 250, 254, 1);;
   
}

.active_tab.active{
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #18CFAB;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.tab{
    text-decoration: none;
}

.active_tab:hover{
    border: 1.5px solid #18CFAB;
}

.active_tab.active::before{
    width: 27px;
    height: 15px;
    display: block;
    content: "";
    background-color: #18CFAB;
    clip-path: polygon(121% -22%, 0% 2%, 56% 72%);
    position: relative;
    top: 57px;
    transition: opacity 0.3s ease-in-out;

}

.our_services_img{
    width: 192px;
    height: 139px; 
}

.our_services_nav_content{
    display: flex;
    flex-direction: column;
}

.our_services_nav_content_box, .our_services_nav_content_box_tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.our_services_nav_content_box_tab{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}
.our_services_nav_content_box_tab>img{
    margin-right: 15px;
}

.information{
    margin-top: 91px;
    background-image: url(../img/Layer\ 21\ 1.png);
    background-position: center;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.information_title, .information_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information_title>h2{
    margin: 127px 0 13px;
    width: 1144px;
    color: #18CFAB;
    font-size: 40px;
    font-weight: 700;
    line-height: 41px; 
    text-transform: uppercase;
}

.information_title>h3{
    margin-bottom: 67px;
    width: 852px;
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.information_title>h2, .information_title>h3{
    height: 40px;
    text-align: center;
}

.information_button_purchase{
    margin-bottom: 128px;
}

.our_work{
    background: #E9EDEF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.our_work_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_work_title{
    margin-top: 95px;
    margin-bottom: 20px;
    width: 376px;
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}

.our_services_nav_insert, .our_work_nav{
    width: 582px;
    height: 58px;
    display: flex;
}

.our_work_nav{
    margin: 69px 0;
    border: 1px solid #DADADA;
    background: rgba(0, 0, 0, 0.00);
    color: #717171;
    font-size: 14px;
    line-height: 42px;
}

.our_services_nav_insert{
    border-left: 1px solid #DADADA;
    align-items: center;
    justify-content: center;
}

.our_services_nav_insert>a{
    text-decoration: none;
    color: #717171;


}

.our_services_nav_insert:hover{
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
    outline: transparent;
  
}

.reverse-side{
    border-top: 6px solid #18CFAB;
    background: #E9EDEF; 
}

.our_work_slogan, .reverse-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.category_img.show-all-images > div {
    display: grid; 
}

.category_img.show-all-images > div > li {
    display: block; 
}

.our_work_box_img{
    display: grid;
    justify-content: center;  
    grid-template: repeat(3, minmax(100px, 211px)) / repeat(4, minmax(100px, 285px));
    row-gap: 0;
}

.our-work_img{
    width: 285px;
    height: 211px;
    box-sizing: border-box;
}
    
.our_work_ikon{
    margin: 46px 96px 0 101px;
}

.our_work_slogan2, .our_work_slogan1, .our_work_button{
    display: flex;
    justify-content: center;
}

.our_work_slogan1{
    margin-top: 24px;
    width: 165px;  
    color: #18CFAB;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.our_work_slogan2{
    margin-bottom: 34px;
    width: 103px;
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}

.our_work_box_button{
    margin: 70px 0 99px;
}

.our_work_button{
    background-color: #18CFAB;
    box-sizing: border-box;
}

.our_work_button_box{
    flex-direction: row;  
    align-items: center;
}


.our_work_button>svg{
    margin: 22px 15px 22px 23px;
    width: 18px;
    height: 19px;
}

.our_work_button>span{
    margin: 13px 0 8px;
    width: 120px;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 42px;
}

.news_box{
    margin-bottom: 202px;
    height: 744px;
    box-sizing: border-box;
}

.news_title, .news_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_title>h3{
    margin: 82px 0 24px;
    width: 298px;
    height: 40px;
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.news_nav{
    margin-top: 68px;
    display: grid;
    justify-content: center;  
    grid-template: repeat(2, minmax(100px, 208px)) / repeat(4, minmax(100px, 263px));
    row-gap: 117px;
    column-gap: 35px;
}

.news_nav_img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
}

.data_box{
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}


.news_nav_img_title{
    width: 263px;
    height: 72px;
    border: 1px solid #F2F4F5;
    background: #F8FCFE;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.news_nav_img_title>h3{
    width: 211px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
}


.news_nav li:hover .data_box {
    background-color: #18CFAB;
    color: #FFF;
}

.news_nav li:hover .news_nav_img_title h3 {
    color: #18CFAB;
}


.news_nav_img_title>span{
    margin: 0 51px 1px 19px;
    width: 210px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    display: flex;
}

.news_nav_img_title>span, .news_nav_img_title>h3{
    height: 30px;
    text-align: center;
    line-height: 39px;
}

.what_people_say{
    background-image: url(../img/Layer\ 333.png);
    height: 853px;
    display: flex;
    justify-content: center;
}

.what_people_say_box, .what_people_say_title, .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what_people_say_title>h2{
    margin: 98px 0 25px;
    width: 613px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.profile{
    margin-top: 66px;
}

.comment>p{
    margin: 37px 0;
    color: #BBB;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;   
}

.profile_name{
    width: 120px;
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.profile_profession{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    width: 120px;
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
}

.profile_photo{
    width: 166px;
    height: 166px;
    clip-path: circle(40%);
}

.photo>svg{
    position: absolute;
}

.profile_photo_nav{
    width: 59px;
    height: 59px;
    clip-path: circle(40%);
}

.photo{
    display: flex;
    justify-content: center;
}

.photo_nav>svg{
    position: absolute;
    width: 61px;
    height: 61px;
}

.photo_nav{
    transition: transform 0.3 ease;
}

.photo-clickable.active>svg, .photo-clickable.active>img{
    transform: translateY(-15px);
}

.photo-clickable {
    transform: translateY(-10px); 
    transition: transform 0.3s ease-in-out; 
}

.profile_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-turn{
    transform: rotate(180deg);
}

.arrow-left:hover, .arrow-right:hover{
    background-color: #18CFAB;
}

.profile_list li {
    display: none;
}

.profile_list li.active {
    display: block;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.comment>p{
    margin: 37px 0;
    
}

.profil_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 51px;
    width: 483px;
}

.gallery_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_list_box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 83px;
}

.gallery_title{
    margin-top: 108px;
    width: 428px;
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.gallery_list1{
    width: 800px;
    height: 970px;
    margin: 0 auto;
}

.gallery_list2{
    width: 370px;
}

.gallery_list3{
    width: 540px;
}

.gallery_list4{
    width: 450px;
}

.gallery_list5{
    width: 363px;
    margin-top: 20px;
}

.fmas{
    padding: 0 20px 20px 0;
}

.mas{
    padding: 0 3px 3px 0;
}

.ma{
    padding-right: 20px;
}

.bmas{
    padding: 0 0 3px 3px;
}

.i_hate_mas{
    padding-bottom: 3px;
}

.hate_very_much{
    padding: 20px 0 0 20px;
}

.gallery_button, .loading_animation_gallery{
    margin: 52px 0 67px;
}

.loading_animation_gallery{
    display: none;
}

.footer{
    height: 121px;
    background-color: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_text{
    color: #AEAEAE;
}

.footer_span{
    color: #18CFAB;
}

.footer_span, .footer_text{
    color: #18CFAB;
font-size: 14px;
font-weight: 300;
line-height: 26px;
}

.loading_animation{
    display: none;
}

.lp {
	width: 8em;
	height: 8em;
}
.lp__drops,
.lp__fall-line,
.lp__worm {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: 64px 64px;
}
.lp__drops {
	animation-name: drops;
	animation-timing-function: ease-in-out;
	stroke-dasharray: 22 307.85 22;
	visibility: hidden;
	transform: rotate(90deg);
}
.lp__fall-line {
	animation-name: fallLine1;
	animation-timing-function: ease-in;
	stroke-dasharray: 1 112;
	stroke-dashoffset: 114;
}
.lp__fall-line--delay1 {
	animation-name: fallLine2;
}
.lp__fall-line--delay2 {
	animation-name: fallLine3;
}
.lp__fall-line--delay3 {
	animation-name: fallLine4;
}
.lp__fall-line--delay4 {
	animation-name: fallLine5;
}
.lp__ring {
	stroke: hsla(var(--hue),90%,5%,0.1);
	transition: stroke 0.3s;
}
.lp__worm {
	animation-name: worm;
	stroke-dasharray: 43.98 307.87;
	stroke-dashoffset: -131.94;
	transform: rotate(-90deg);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.lp__ring {
		stroke: hsla(var(--hue),90%,95%,0.1);
	}
}

/* Animtions */
@keyframes drops {
	from {
		animation-timing-function: steps(1,end);
		stroke-dasharray: 0 351.85 0;
		visibility: hidden;
	}
	25% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}
	26% {
		stroke-dasharray: 4 343.85 4;
	}
	27% {
		stroke-dasharray: 8 335.85 8
	}
	28% {
		stroke-dasharray: 12 327.85 12;
	}
	29% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}
	32% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}
	35%,
	47.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}
	50% {
		animation-timing-function: steps(1,end);
		stroke-dasharray: 0 307.85 43.98;
		visibility: hidden;
	}
	75% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}
	76% {
		stroke-dasharray: 4 343.85 4;
	}
	77% {
		stroke-dasharray: 8 335.85 8
	}
	78% {
		stroke-dasharray: 12 327.85 12;
	}
	79% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}
	82% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}
	85%,
	97.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}
	to {
		stroke-dasharray: 43.98 307.85 0;
		visibility: hidden;
	}
}
@keyframes fallLine1 {
	from,
	15% {
		stroke-dashoffset: 114;
	}
	25%,
	65% {
		stroke-dashoffset: 1;
	}
	75%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine2 {
	from,
	16% {
		stroke-dashoffset: 114;
	}
	26%,
	66% {
		stroke-dashoffset: 1;
	}
	76%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine3 {
	from,
	17% {
		stroke-dashoffset: 114;
	}
	27%,
	67% {
		stroke-dashoffset: 1;
	}
	77%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine4 {
	from,
	18% {
		stroke-dashoffset: 114;
	}
	28%,
	68% {
		stroke-dashoffset: 1;
	}
	78%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine5 {
	from,
	19% {
		stroke-dashoffset: 114;
	}
	29%,
	69% {
		stroke-dashoffset: 1;
	}
	79%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes worm {
	from {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}
	25% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -307.86;
	}
	25.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -307.86;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -175.92;
	}
	50.01% {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}
	75% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: 43.98;
	}
	75.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -131.94;
	}
}

